<a href="https://colab.research.google.com/github/pearllpatell/is_4487_Patel/blob/main/lab3_retailer_intro_patel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [ ]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl
import matplotlib.pyplot as plt

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [ ]:
df = pd.read_csv ('superstore_retail_orders.csv')

print(df)

      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id order_date  customer_id.1  \
0                DE       19805.0      1001    1/11/20             67
1                AL       35810.0      1002   11/22/19            201
2                CA       92612.0      1003    9/17/19             45
3                VA       23293.0      1004    12/9/19            106
4                VA       23293.0      1005     6/8/19            357
...              ...          ...       ...        ...            ...
9564  Pennsylvania            NaN      8143    6/13/21            637
9565             NY       12210.0      8144    6/16/21            370
9566     California       94064.0      8145     5/9/21            598
9567  Massachusetts        2472.0      8146    4/13/21            737
9568       Maryland       20883.0      8147    3/21/21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9564        8143         113      16.0           113          Extension cord
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

      product_price  total_amount order_year_month order_month
0              1.99          5.97          2020-01    January
1             85.98        171.96          2019-11   November
2              3.99         19.95          2019-09   September
3              1.99         15.92          2019-12   December
4              3.99         27.93          2019-06       June
...             ...           ...              ...         ...
9564          15.59        249.44          2021-06       June
9565         749.99        749.99          2021-06       June
9566         329.99        329.99          2021-05        May
9567          15.59         31.18          2021-04      April
9568          15.59         77.95          2021-03      March

[9569 rows x 18 columns]

## Prepare Data

➡️ Assignment Tasks
- Convert the Total_Amount into a number (not a string)
- Remove rows with empty (NULL) values
- Optional: Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [ ]:
df['total_amount'] = df['total_amount'].astype(float)

print(df.head())

   customer_id      customer_name        address_line_1        city  \
0           67      Gordy Matteau   59 Northland Circle  Wilmington
1          201     Cort Paskerful       769 Buell Drive  Huntsville
2           45    Willetta Lumley     41 Ridgeway Alley      Irvine
3          106   Alison Batterton         489 Erie Hill    Richmond
4          357  Martelle Paxeford  451 Manitowish Place    Richmond

  state_province  postal_code  order_id order_date  customer_id.1  order_id.1  \
0            DE       19805.0      1001    1/11/20             67        1001
1            AL       35810.0      1002   11/22/19            201        1002
2            CA       92612.0      1003    9/17/19             45        1003
3            VA       23293.0      1004    12/9/19            106        1004
4            VA       23293.0      1005     6/8/19            357        1005

   product_id  quantity  product_id.1       product_name  product_price  \
0         106       3.0           106  Great value Juice           1.99
1         104       2.0           104               Desk          85.98
2         107       5.0           107     Dove deodorant           3.99
3         106       8.0           106  Great value Juice           1.99
4         107       7.0           107     Dove deodorant           3.99

   total_amount order_year_month order_month
0          5.97          2020-01    January
1        171.96          2019-11   November
2         19.95          2019-09   September
3         15.92          2019-12   December
4         27.93          2019-06       June

In [ ]:
df['product_price'] = df['product_price'].astype(float)

print(df.head())

   customer_id      customer_name        address_line_1        city  \
0           67      Gordy Matteau   59 Northland Circle  Wilmington
1          201     Cort Paskerful       769 Buell Drive  Huntsville
2           45    Willetta Lumley     41 Ridgeway Alley      Irvine
3          106   Alison Batterton         489 Erie Hill    Richmond
4          357  Martelle Paxeford  451 Manitowish Place    Richmond

  state_province  postal_code  order_id order_date  customer_id.1  order_id.1  \
0            DE       19805.0      1001    1/11/20             67        1001
1            AL       35810.0      1002   11/22/19            201        1002
2            CA       92612.0      1003    9/17/19             45        1003
3            VA       23293.0      1004    12/9/19            106        1004
4            VA       23293.0      1005     6/8/19            357        1005

   product_id  quantity  product_id.1       product_name  product_price  \
0         106       3.0           106  Great value Juice           1.99
1         104       2.0           104               Desk          85.98
2         107       5.0           107     Dove deodorant           3.99
3         106       8.0           106  Great value Juice           1.99
4         107       7.0           107     Dove deodorant           3.99

   total_amount order_year_month order_month
0          5.97          2020-01    January
1        171.96          2019-11   November
2         19.95          2019-09   September
3         15.92          2019-12   December
4         27.93          2019-06       June

In [ ]:
df_cleaned = df.dropna()

## Summarize Data

➡️ Assignment Tasks
- Display the average price per month
- Display the total revenue for all months

In [ ]:
#average price

In [ ]:
average_price_per_month = df.groupby('order_month')['product_price'].mean()

print(average_price_per_month)

order_month
April        297.966332
August       290.858768
December     280.243951
February     282.229433
January      265.387668
July         273.863429
June         303.961971
March        280.806920
May          295.372884
November     274.046641
October      323.479632
September    298.261053
Name: product_price, dtype: float64

In [ ]:
#total revenue

In [ ]:
# Group by 'order_month' and sum up the total revenue
total_revenue_per_month = df.groupby('order_month')['total_amount'].sum()

# Display the total revenue per month
print(total_revenue_per_month)

order_month
April        301678.10
August       293095.48
December     258735.31
February     207260.42
January      225844.44
July         256323.17
June         293367.12
March        260008.49
May          294409.04
November     256056.54
October      285769.34
September    248301.95
Name: total_amount, dtype: float64